<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Phonegap Docs</title>
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" />
</head>
<body>
<div class="container">
  <div id="header">
    <h1>PhoneGap Docs</h1>
  </div>
  <div id="navigation" class="column span-4">  
	  <h4>PhoneGap</h4>
	  <div>
	    <a href='/docs/device'>Device</a>
	    <a href='/docs/notification'>Notification</a>
	    <a href='/docs/vibration'>Vibration</a>
	    <a href='/docs/sound'>Sound</a>
	    <a href='/docs/geolocation'>GeoLocation</a>
	    <a href='/docs/accelerometer'>Accelerometer</a>
	    <a href='/docs/contact'>Contact</a>
	    <a href='/docs/camera'>Camera</a>
	  </div>
	  <h4>XUI</h4>
	  <div>
	    <a href='/docs/xui/basics'>Basics</a>
	    <a href='/docs/xui/dom'>Dom</a>
	    <a href='/docs/xui/event'>Event</a>
	    <a href='/docs/xui/style'>Style</a>
	    <a href='/docs/xui/fx'>FX</a>
	    <a href='/docs/xui/xhr'>XHR</a>
	  </div>
	</div>	
  <div id="main" class="column l-border span-19 last demo">
    [% catch_content %]
  </div>
  <div id="footer" class="column clear span-24">
    <p>
      This documentation is released under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Attribution-NonCommercial-ShareAlike 3.0</a> License.
    </p>
  </div>
</div>
</body>
</html>