body {
  background-color:#F6F4F2;
  font-family:Helvetica, Arial, sans-serif;
  font-size:16px;
}

h1, ul, li {
  margin:0px;
  padding:0px;
}

#header {
  background-color:#515151;
  background:#515151 -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.2, #747474),
    color-stop(0.8, #515151)
  );
  background:-moz-linear-gradient(center bottom , #515151 20%, #747474 80%);
  border-top:1px solid #919192;
  height:32px;
  left:0px;
  position:absolute;
  top:0px;
  width:100%;
  z-index:1;
}
#header2 {
  background-color:#CBCBCB;
  background:-webkit-gradient(linear,
    left top,
    left bottom,
    color-stop(0.0, #F9F9F9),
    color-stop(1.0, #CBCBCB)
  );
  background:-moz-linear-gradient(center bottom , #CBCBCB 0%, #F9F9F9 100%);
  border-top:1px solid #383A3C;
  border-bottom:1px solid #919395;
  height:32px;
  left:0px;
  position:absolute;
  top:32px;
  width:100%;
  z-index:1;
}
#sidebar {
/*  background:url(logo2.png) 10px 20px no-repeat;*/
  background-color:#ECEAE7;
  bottom:0px;
  left:0px;
  overflow:auto;
  padding:20px 40px 0px 0px;
  position:absolute;
  text-align:right;
  top:66px;
  width:180px;
  z-index:1;
}
#content {
  top:64px;
  bottom:0px;
  right:0px;
  left:220px;
  padding:20px 60px;
  position:absolute;
  overflow:auto;
  z-index:0;
}


/*#header .light {
  background:#515151 -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.2, #EFEEEB),
    color-stop(0.8, #CDCAC7)
  );
  height:32px;
}*/


#header h1,
#header h1 a,
#header2 h1 {
  color:#F6F4F2;
  font-size:18px;
  font-weight:normal;
  line-height:32px;
  margin:0px;
  text-align:center;
  text-shadow:0px -1px 1px #444444;
}

#header h1 {
  text-align:left;
  margin-left:20px;
}

#header2 h1 {
  color:#000000;
  text-shadow:#FFFFFF 0px 1px 0px;
}

#header small,
#header2 small {
  color:#EFEFEF;
  font-size:14px;
  line-height:32px;
  position:absolute;
  top:0px;
  right:20px;
  text-shadow:-1px 1px 1px #666666;
}

#sidebar .vertical_divider {
  background-color:#CCCCCC;
  bottom:0px;
  border-right:1px solid #FFFFFF;
  position:absolute;
  top:0px;
  right:0px;
  width:1px;
}

#sidebar h1 {
  color:#000000;
  font-size:18px;
  padding:0px;
  margin:30px 0px;
  font-weight:normal;
  text-shadow:#FFFFFF 0px 1px 0px;
}

#sidebar ul,
#sidebar li {
  margin:0px;
  padding:0px;
}
#sidebar li,
#sidebar li a {
  color:#767573;
  font-size:14px;
  list-style:none;
  margin:15px 0px;
  text-shadow:#FFFFFF 0px 1px 1px;
}
#sidebar li a {
  -webkit-transition:color .15s ease-out;
  -moz-transition:color .15s ease-out;
  -o-transition:color .15s ease-out;
}
#sidebar li a:hover {
  color:#242220;
}


#otherbar {
  display:none;
}

/*#content {
  padding:32px 225px 10px 225px;
  z-index:0;
}
#otherbar {
  display:block;
}
*/

h1,h2,h3 {
  margin:30px 0px;
}

p,blockquote,pre,ul {
  margin:30px 0px;
}

h1,h2,h3 {
  font-weight:normal;
}
h1 {
  font-size:28px;
  text-shadow:#FFFFFF 0px 1px 0px;
}
h2 {
  font-size:20px;
}
h3 {
	font-size:128%;
}
h2:after,
h3:after {
	content: ":";
}

blockquote {
  color:#000;
/*  border-left:8px solid #E0E0E0;*/
	font-style:normal;
/*  font-size:110%;*/
/*  font-family:Georgia, Palatino, 'Times New Roman', Times;;*/
  margin-left:35px;
  padding-left:20px;
	position:relative;
	text-shadow:#FFFFFF 0px 1px 0px;
}
blockquote code {
	font-style: normal;
}
blockquote p {
  padding:10px 0px;
}
blockquote::before {
  font-style: normal;
  content: '\201C';
  font-size: 450%;
  font-family:Georgia, Palatino, 'Times New Roman', Times;;
  position: absolute;
  top: -10px;
  left: -25px;
  color: #E0E0E0;
}

/*blockquote::before {
  font-style: normal;
  content: '\201C';
  font-size: 650%;
  font-family:Georgia, Palatino, 'Times New Roman', Times;;
  position: absolute;
  top: -15px;
  left: -35px;
  color: #E0E0E0;
}*/

ul {
  margin-left:40px;
}
ul > li {
	list-style:disc;
	list-style-position:inside;
	margin:10px 0px;
}

hr {
/*  background-color:#E3E1DD;*/
	border:none;
/*  height:10px;*/
	margin:40px 0px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #FFFFFF;
}
/*hr:before {
  color:#E3E1DD;
  content:"\2022\00A0\2022\00A0\2022";
  display:block;
  font-size:50px;
  line-height:50px;
  text-align:center;
}*/

p {
  line-height:180%;
}

code {
/*  color:#467B96;*/
	font-family:"DejaVu", "Monaco", "Courier New", "Courier";
	font-size:87%;
	padding:2px 4px;
	white-space:pre-wrap;;
}
/*code {
  color:#56544f;
  font:normal 13px "DejaVu", "Monaco", "Courier New", "Courier";
  border:1px solid #E3E2DF;
  background:#ECEBE8;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding:2px 6px;
  white-space:pre-wrap;

}*/

pre {
  border:1px solid #CCCCCC;
  background:#F2F0EE;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
/*  border-left:8px solid #E0E0E0;*/
	display:block;
	padding:10px 20px;
	white-space:pre-wrap;
}
pre code {
  background:none;
	border:none;
	font-size:11px;
	padding:0px;
}

a[href] {
/*  color:inherit;*/
  color:#f06433;
  text-decoration:none;
  text-shadow:#FFF 0px 1px 0px;
}

code a[href] {
  color:inherit;
  border-bottom:1px dotted #000000;
/*  color:#f06433;*/
  text-decoration:none;
}
/*a[href] {
  color: inherit;
  border-bottom:1px dashed #AAAAAA;
  padding-bottom:1px;
  white-space: nowrap;
  text-decoration: none;
}
a[href] {
  border:0px;
  color: inherit;
  padding: 1px .6em;
  background: #f5f6f7;
  background: rgba(0, 0, 0, .05);
  -webkit-border-radius: .6em;
  -moz-border-radius: .6em;
  border-radius: .6em;
  -webkit-transition: background .2s ease-out, -webkit-box-shadow .1s ease-out, color .15s ease-out;
  -moz-transition: background .2s ease-out, -webkit-box-shadow .1s ease-out, color .15s ease-out;
  -o-transition: background .2s ease-out, -webkit-box-shadow .1s ease-out, color .15s ease-out;
}
a[href]:hover {
  background: rgba(0, 0, 0, .6);
  color: #fff;
}
code a[href] {
  color:#000000;
}
pre code a[href] {
  background: none;
  border-bottom:1px dashed;
}
pre code a[href], code a[href] {
  padding: 1px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}*/
a[href].external:after {
	content: "*";
	font-style: super;
	opacity: .5;
}

#index {
	-webkit-column-width: 250px;
	-webkit-column-rule-width: 10px;
	-moz-column-width: 250px;
	-moz-column-rule-width: 10px;
	column-width: 170px;
	column-rule-width: 10px;
	column-width: 170px;
	column-rule-width: 10px;
}
#index h2:after,
#index h3:after { 
  content:"";
}
#index h2 { 
  margin:0px;
  padding:0px;
}
#index {
  padding: 10px 1px;
}
#index ul {
	margin:0;
	padding:0;
}
#index ul li {
	list-style: none;
}
#index ul li a {

}
