/* @group Main */

body {
	font-family: Helvetica, Arial;
}

#header {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

#footer {
	padding-top: 15px;
	border-top: 1px solid #eee;
	margin-top: 10px;
	text-align: right;
	color: #555;
}

#header h1 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#header h1 a{
  color:#000;
  text-decoration:none
}

ul li {
	list-style: square;
}

#menu h4 {
	padding: 10px 0;
	margin: 0;
	font-weight: bold;
}

#menu a, #navigation a {
	display: block;
}

#navigation {
	font-size: 1.1em;
}

#navigation div {
	text-align: right;
}

#navigation .notice {
	text-align: left;
}

#navigation .notice  a {
	display: inline;
}

#navigation h4 {
	font-weight: bold;
	border-bottom: 1px solid #eee;
	/*border-top: 1px solid #eee;*/
	margin: 10px 0;
	padding-bottom: 2px;
}

#main h1 {
	font-size: 2.5em;
}

#main {
	padding-top: 10px;
}

p.description {
	font-size: 1.2em;
}

pre {
	background: #f9f9f9;
	background: rgb(240, 240, 250);
	border-top: 2px solid #f5f5f5;
	border: 1px solid #ddd;
	padding: 5px 7px;
	overflow: auto;
	font-size: 12px;
}

h3{
  margin:18px 0px 12px;
}

p.syntax{
  background:#fff;
  font-weight:bold;
  border-width:0;
  padding:0;
  font-family:Verdana;
  color:#555;
  font-size:16px;
}

p.syntax span.arg{
  font-style:italic;
}

p.syntax span.arg.opt{
  font-style:italic;
  color:#aaa;
}

p.argument{
  font-size:1em;
  background:#ffe;
  padding:6px 20px;
  font-weight:bold;
  margin:4px 0px;
  position:relative;
}

p.argument span.type{
  position:absolute;
  left:400px;
  color:#666;
}
p.argument span.optional{
  color:#999;
}

hr{
  border-width:3px;
}


a.download span {
	display: none;
}

a.download {
	background-image: url(/assets/images/download.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	width: 141px;
	height: 35px;
	outline: none;
	float: right;
}

a.download:hover {
	background-position: center left;
}

/* @end */

/* @group Blueprint */

.r-border {
  padding-right: 24px;
  margin-right: 15px;
  border-right: 1px solid #eee;
}

.l-border {
  padding-left: 25px;
  margin-left: 14px;
  border-left: 1px solid #eee;
}

.b-border {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.t-border {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #eee;
}

/* @end */

/* @group geshi */

.kw1 {
	color: #1b609a;
}

.kw2 {
	color: #9a6f1b;
}

.me1 {
	color: #666;
}

.kw3, .re0, .sc1 {
	color: #784e0c;
}

.br0 {
	color: #444;
}

.st0 {
	color: #489a1b;
}

.co1, .coMULTI {
	color: #888;
}

.nu0 {
	color: #70483d;
}

/* @end */
ul.devices{
  margin:0;
  overflow:auto;
  float:right;
}

ul.devices li{
  font-family:verdana;
  list-style-type:none;
  background:orange;
  font-size:10px;
  color:#fff;
  float:left;
  margin-right:3px;
  line-height:1em;
  padding:2px 5px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  radius:3px;
}
ul.devices li.iphone{ background:#BD1550;}
ul.devices li.android{ background:#E97F02;}
ul.devices li.blackberry{ background:#8A9B0F;}
ul.devices li.unimplemented{ background:#bbb;}

