---
---

ErrorDocument 404 {{site.baseurl}}/404.html

# turn on redirection
Options +FollowSymLinks
RewriteEngine on

# NOTE:
#       Some of the below redirects are 302s, and some are 301s. 302s are used
#       for redirects whose targets change sometimes. For example:
#           - /docs/          -> /docs/fr/, /docs/en/, etc.
#           - /docs/en/       -> /docs/en/dev/, /docs/en/latest/, etc.
#           - /docs/en/latest -> /docs/en/4.0.0/, /docs/en/5.0.0/, etc.
#
#       301s are for PERMANENT redirects. These are used only for mapping old
#       pages to new pages.

# 302 (temp):
#       docs     -> docs/en/latest/
#       docs/    -> docs/en/latest/
#       docs/XX  -> docs/XX/latest/
#       docs/XX/ -> docs/XX/latest/
#
# NOTE:
#       these can both apply, turning "/docs" into "/docs/en/latest/"
RewriteRule ^.*docs/$ {{site.baseurl}}/docs/en/
RewriteRule ^.*docs/(\w\w)/$ {{site.baseurl}}/docs/$1/latest/ [R=302,L]

# 302 (temp):
#       docs/XX/latest -> docs/XX/latest/
RewriteRule ^.*docs/(\w\w)/latest$ {{site.baseurl}}/docs/$1/latest/ [R=302,L]

# rewrite only:
#       /docs/XX/latest/* -> /docs/XX/Y.Y.Y/*
#
# NOTE:
#       This does NOT return a redirect. It returns the resource *as if* the
#       redirected URI was requested. That is, both URIs return the same
#       resource, but the browser won't change the URI (no redirects followed).
RewriteRule ^.*docs/(\w\w)/latest/(.*)$ {{site.baseurl}}/docs/$1/{{site.latest_docs_version}}/$2 [L]

# 301 (perm):
#       docs/XX/edge  -> docs/xx/edge/
#       docs/XX/edge/ -> docs/xx/dev/
RewriteRule ^.*docs/(\w\w)/edge$ {{site.baseurl}}/docs/$1/edge/
RewriteRule ^.*docs/(\w\w)/edge/(.*)$ {{site.baseurl}}/docs/$1/dev/$2 [R=301,L]

# 301 (perm):
#       docs version renames
RewriteRule ^.*docs/(\w\w)/6.0.0/(.*)$ {{site.baseurl}}/docs/$1/6.x/$2 [R=301,L]

# 301 (perm):
#       old docs pages -> new docs pages (global)
#
# NOTE:
#       The first part of the path (i.e. the ".*") is thrown away and replaced
#       by site.baseurl. It is thrown away because there is no RewriteCond to
#       control whether the rewrite happens to a URI or a local file path
#       (when Apache is locating the local file to serve).
{% for redirect in site.data.redirects.docs-global %}RewriteRule ^.*docs/(\w\w)/([^/]+)/{{redirect.old}}$ {{site.baseurl}}/docs/$1/$2/{{redirect.new}} [NE,R=301,L]
{% endfor %}

# 301 (perm):
#       old docs pages -> new docs pages (version-specific)
{% for redirect in site.data.redirects.docs %}RewriteRule ^.*docs/(\w\w)/{{redirect.old}}$ {{site.baseurl}}/docs/$1/{{redirect.new}} [NE,R=301,L]
{% endfor %}

# 301 (perm):
#       old pages -> new pages
{% for redirect in site.data.redirects.general %}RewriteRule ^.*/{{redirect.old}}$ {{site.baseurl}}/{{redirect.new}} [NE,R=301,L]
{% endfor %}
