.contact {
    .panel-title {
        margin-bottom: 1em;
    }
    .mailing-list {
        li {
            padding: 0px;
        }

        .email-link {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 55px;

            white-space:nowrap;

            text-overflow:ellipsis;
            overflow: hidden;
            .email_link_button {
                width: 100%;
                max-width: 50px;
                position:absolute;
                top: 0;
                right: 0;
                margin-right: 15px;
                display: inline-block;
                background-color: $brand-primary;
                vertical-align: middle;
                text-align: center;
                .glyphicon {
                    color: white;
                    font-size: 20px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }

        .list-label {
            padding: 8px;
        }
    }

    .list {
        padding:0;
    }

    .list li {
        background:$gray-10;
        position: relative;
        list-style: none;
        margin-bottom: 16px;

        white-space:nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
    }
}
