.sprite_img {
    position:relative;
    left: 0px;
    margin: 0;
    padding: 0;
    top:0;
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: cover;
}

.report-bug-icon {
    @extend .sprite_img;
    height:1em;
    width:1em;
    background-image: url("{{ site.baseurl }}/static/img/bug_icon.svg");
    background-size: 2em 1em;
    display: inline-block;   
}

a:hover .report-bug-icon {
    background-position: -1em 0;
}

.list {
    padding:0;
}

.list li {
    background:$gray-10;
    padding: 8px;
    position: relative;
    list-style: none;
    margin-bottom: 16px;
}

.platforms-list li a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    transition: background 0.25s linear;
    width: 36px;
    background: url("{{ site.baseurl }}/static/img/sprite.png") no-repeat;
    background-position: 3px -127px;
    background-color: #4cc2e4;
}
.platforms-list li a.link-apache {
    right: 39px;
    background-position: 2px -94px;
}
.platforms-list li.first a {
    width: 108px;
}
.platforms-list li.first a.link-apache {
    width: 129px;
    right: 111px;
}
.contribute-get-started-steps {
    list-style: none;
    counter-reset: contribute-steps-counter;
    > li {
        margin-bottom:.5em;
    }
    > li::before {
        counter-increment: contribute-steps-counter;
        content: counter(contribute-steps-counter);
        width: 2em;
        height: 2em;
        background: $brand-primary-darker;
        display: inline-block;
        border-radius: 2em;
        line-height: 2em;
        text-align: center;
        font-size: 1em;
        color: white;
        margin-left:-40px;
        margin-right:19px;
    }   
}
