.docs {
    /* overriding h2 to correct value */
    h2 {
        font-size: 30px;
    }

    margin-bottom: 20px;

    .this-page {
        font-weight: bold;
    }

    /* this is so that wide images don't stick out of their paragraphs */
    p {
        img {
            max-width: 100%;
        }
    }

    /*
    * Anchor links on documentation headers
    */
    .header-link {
        position: relative;
        left: 0.5em;
        opacity: 0;
        font-size: 0.7em;

        -webkit-transition: opacity 0.2s ease-in-out 0.1s;
        -moz-transition: opacity 0.2s ease-in-out 0.1s;
        -ms-transition: opacity 0.2s ease-in-out 0.1s;
    }

    h1:hover .header-link,
    h2:hover .header-link,
    h3:hover .header-link,
    h4:hover .header-link,
    h5:hover .header-link,
    h6:hover .header-link {
        opacity: 1;
    }

    pre {
        word-wrap: normal;

        code {
            overflow: auto;
            white-space: pre;
        }
    }

    mark {
        background-color: lightblue;
        padding: 0.1px 0.2px 0.1px 0.2px;
        margin-right: 7px;
    }

    .site-toc-title {
        font-weight: 300;
        font-size: 22px;
        text-transform: uppercase;
    }

    /* outer ToC for the site */
    .site-toc-container {
        .site-toc {
            padding: 0px;
            .site-toc {
                padding-left: 15px;
            }
        }
        .site-toc li {
            list-style: none;
        }
        .site-toc > li {
            list-style: none;
            font-size: 18px;
            font-weight: 300;
            padding-top: 0.5em;
        }
    }

    /* inner ToC for the page */
    .page-toc ul {
        padding: 0px;
    }
    .page-toc ul > li {
        padding: 0.5em 0em 0.5em 1em;
        font-size: 14px;
        border-left: 0.5em solid rgba($brand-primary, 0.5);
    }
    .page-toc ul > li.toc-active {
        font-weight: bold;
        border-left: 0.5em solid $brand-primary;
    }

    /* Quick fix to remove redundant TOC entries */
    .page-toc li:first-of-type {
        display: none;
    }
    .page-toc li:nth-of-type(2) {
        margin-top: 14px;
    }

    /* header above page content */
    .content-header {
        text-align: right;
        margin-top: 22px;
        .alert {
            text-align:left;
        }
    }
    .toc-dropdown {
        text-align: center;
        width: 100%;
        .dropdown {
            width: inherit;
            button {
                width: inherit;
            }
        }
    }
    .alert.alert-warning.alert-dismissible {
        margin-top: 15px;
    }
    .dropdown {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 0.3em;
        }
    }
    .dropdown .selected {
        font-weight: bold;
        font-style: italic;
    }
    .dropdown button.dropdown-toggle {
        border-radius: 4px;
        background-color: rgb(214, 214, 214);
        &:hover {
            background-color: rgb(191, 191, 191);
        }
    }

    .dropdown-menu {
        left: inherit;
        right: 0;
    }

    .content-header .edit {
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    /* missing version highlight */
    .missing-version {
        color: gray !important;
    }

    table {
        @extend .table;
        @extend .table-bordered;
    }

    .docs-alert {
        margin-top: 22px;
    }

    /* Formatting for compatibility table on plugin docs page */
    .compat {
        td {
            text-align: center;
            border-width: 2px;
            border-style: solid;
            border-color: white;
            padding:2px;
        }

        th {
            text-align: center;
        }

        /* Not compataible (pink with X) */
        .n::before {
            margin-right: 5px;
            content: "\2718";
        }
        .n {
            background-color: pink;
            margin-right: 5px;
        }

        /* Is compataible (green with check) */
        .y::before {
            margin-right: 5px;
            content: "\2714";
        }
        .y {
            background-color: lightgreen;
        }

        /* Partially compataible */
        .p {
            background-color: khaki;
        }
    }

    .hooks {
        td[data-col="description"] {
            text-align: left;
            vertical-align: middle;
        }

        td[rowspan="2"], th[colspan="3"], td[data-col="code"] {
            text-align: center;
            vertical-align: middle;
        }

        td[data-col="description"] {
            text-align: left;
            vertical-align: middle;
        }
    }

    // Styling for the /docs/language/version/index.html pages
    #home {
        h1 {
            border-bottom: 1px solid #919395;
            padding-bottom: 20px;
            margin: 30px 0px;
        }

        h2 {
            font-weight: normal;
            margin: 0px 0px 10px 0px;
            padding: 0px;
            display: block;
            font-size: 18px;
        }

        h2:after {
            content: '';
        }

        span {
            font-size: 14px;
        }

        ul {
            float:left;
            margin: 0px;
            padding: 0px;
        }

        ul li {
            float: left;
            list-style: none;
            margin-bottom: 20px;
            padding: 0px 20px;
            width: 240px;
            height: 120px;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .header-link {
        opacity: 1 !important;
    }
}

// Workaround for the spacing on the Russian /docs/ru/version/index.html pages
html[lang="ru"] .docs #home ul li {
    height: 160px;
}
