.site-toc-title {
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}

/* outer ToC for the site */
.site-toc {
    padding: 0px;
}
.site-toc li {
    list-style: none;
}
.site-toc > li {
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0.5em 0em;
}
.site-toc > li .this-page {
    font-weight: bold;
}

/* inner ToC for the page */
.page-toc ul {
    padding: 14px 0px 0px 0px;
}
.page-toc ul > li {
    padding: 0.5em 0em 0.5em 1em;
    font-size: 14px;
    border-left: 0.5em solid rgba($brand-primary, 0.5);
}
.page-toc ul > li.toc-active {
    font-weight: bold;
    border-left: 0.5em solid $brand-primary;
}

/* header above page content */
.content-header {
    text-align: right;
    margin-top: 22px;
}
.content-header .dropdown {
    display: inline-block;
    margin-left: 0.3em;
}
.content-header .dropdown .selected {
    font-weight: bold;
    font-style: italic;
}
.content-header .dropdown button.dropdown-toggle {
    border-radius: 4px;
    background-color: rgb(214, 214, 214);
    &:hover {
        background-color: rgb(191, 191, 191);
    }
}
.content-header .edit {
    margin-right: 1em;
    margin-left: 1em;
}

/* missing version highlight */
.missing-version {
    color: gray !important;
}

/* Formatting for compatibility table in docs */
.compat {
    td {
        text-align: center;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        padding:2px;
    }

    th {
        text-align: center;
    }

    /* Not compataible (pink with X) */
    .n::before {
        margin-right: 5px;
        content: "\2718";
    }
    .n {
        background-color: pink;
        margin-right: 5px;
    }

    /* Is compataible (green with check) */
    .y::before {
        margin-right: 5px;
        content: "\2714";
    }
    .y {
        background-color: lightgreen;
    }

    /* Partially compataible */
    .p {
        background-color: khaki;
    }
}
