.plugins_search_container {
	max-width:405px;
	margin:auto;
	
}
button.btn {
	color:white;
}
.whatisplugin_box {
	
	img {
		float:left;
		    padding-right: 20px;
			padding-bottom: 20px;
		    width: 84px;
	}
}
.plugins_links {
	max-width: 50%;
	margin:auto;
}
.progress {
	width:12%;
}