.plugins_search_container {
    max-width:405px;
    margin:auto;
    .input-group {
        width:100%;
    }
}

.whatisplugin_box {
    margin-top:20px;
    img {
        float:left;
            padding-right: 20px;
            padding-bottom: 20px;
            width: 84px;
    }
}
.plugins_links {
    max-width: 405px;
    margin:auto;
}
.progress {
    width:12%;
    margin:0;
}
.featured-list-header{
    margin-top:0;
}
.well.featured-list {
    padding:0;
    h2 { text-align: center; }
    ul {
        list-style: none;
        padding-left:0;
        div { display:inline-block; }
        li {
            padding-left:19px;
            padding-right:19px;
            padding-top:5px;
            height:33px;
        }
        li:nth-child(odd) {
            background-color:$gray-20;
        }
    }
}
.plugin {
    position:absolute;
    left:126px;
}
.plugin-stats {
    position: absolute;
    right:0;
    width:100px;
}
.filter-by-platforms {
    margin-top:40px;
    margin-bottom:10px;
}

.filter-by-platform-label {
    line-height:40px;
    vertical-align: top;
}

.filter-by-platform-filters {
    display: inline-block;
    button.btn {
        margin-bottom: 2px;
        margin-right: 2px;
        width: 120px;

        &.btn-primary {
            background-color: $brand-primary;
        }
        &.btn-default {
            background-color: $gray-10;
            &:hover {
                background-color: $brand-primary;
            }
        }
    }
}

.nav-pills > li > a {
    background-color:$gray-5;
}

.nav > li > a:hover {
    background-color:$gray-10;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color:$brand-primary;
    color:black;
}

.plugins-sort-dropdown {
    height:40px;
}

/***
****    Plugins Results
****
*/

.plugins-results-container {
    margin-bottom:20px;
    padding:0;
}

.plugin-results-number {
    line-height:40px;
    vertical-align: top;
    text-align: center;
}

.plugin-results-result {
    margin-bottom:20px;
    background-color:$gray-5;
    position: relative;
}

.plugin-results-show-more {
    text-align: center;
    cursor:pointer;
    padding: 10px;
    background-color: $brand-primary;
    color: #000;
}

.plugin-results-show-more:hover {
    color: #000;
}

.version_and_author {
    display: inline-block;
}

.plugins-copy-to-clipboard {
    width:15px;
    position:absolute;
    right:0;
    top:20px;
    margin-right:10px;
    cursor:pointer;
}

.plugins-featured {
  -webkit-box-shadow: inset 3px 0 0 0 $brand-primary;
  -moz-box-shadow: inset 3px 0 0 0 $brand-primary;
  box-shadow: inset 3px 0 0 0 $brand-primary;
  border-left-width: 0px;
}

.plugin-search-credit {
    margin-left: 0px;
    margin-bottom: 5px;
}

@media (min-width: 767px) {
    .version_and_author {
    float:right;
    margin-top:20px;
    }
    h2 { display: inline-block }
}
.license { font-weight: bold }
hr.results-divider-line {
    border-color:$gray-20;
}

.cordova-add-command {
        width: 1px;
        height: 1px;
        overflow: hidden;
}

.results-supported-platforms {
                list-style: none;
                padding:0;
                margin-bottom:0;
}
.results-supported-platforms li {
                display: inline-block;
}
.results-supported-platforms > li > div {
                background-image:url('{{ site.baseurl }}/static/img/platform-logos-all-sprite.svg');
                width:50px;
                height:50px;
                display:inline-block;
                background-size: 550px 50px;
}
.android    { background-position: 0 }
.ios        { background-position: 10%; }
.windows    { background-position: 20%; }
.blackberry { background-position: 30%; }
.ubuntu     { background-position: 40%; }
.firefox    { background-position: 50%; }
.webos      { background-position: 60%; }
.fireos     { background-position: 70%; }
.osx        { background-position: 80.8%; }
.browser    { background-position: 92.2%; }
