.plugins_search_container {
	max-width:405px;
	margin:auto;
	
}
button.btn {
	color:white;
}
.whatisplugin_box {
	
	img {
		float:left;
		    padding-right: 20px;
			padding-bottom: 20px;
		    width: 84px;
	}
}
.plugins_links {
	max-width: 50%;
	margin:auto;
}
.progress {
	width:12%;
	margin:0;
}
.featured-list-header{
	margin-top:0;	
}
.featured-list {
	list-style: none;
	padding-left:0;
	div { display:inline-block; }
}
.plugin {
	position:absolute;
	left:126px;
}
.plugin-stats {
	position: absolute;
	right:0;
	width:100px;
}