.plugins_search_container {
	max-width:405px;
	margin:auto;
	
}
button.btn {
	color:white;
}
.whatisplugin_box {
	
	img {
		float:left;
		    padding-right: 20px;
			padding-bottom: 20px;
		    width: 84px;
	}
}
.plugins_links {
	max-width: 50%;
	margin:auto;
}
.progress {
	width:12%;
	margin:0;
}
.featured-list-header{
	margin-top:0;	
}
.well.featured-list {
	padding:0;
	h2 { text-align: center; }
	ul {
		list-style: none;
		padding-left:0;
		div { display:inline-block; }
		li {
			padding-left:19px;
			padding-right:19px;
			padding-top:5px;
			height:33px;
		}
		li:nth-child(odd) {
			background-color:$gray-20;
		}
	}
}
.plugin {
	position:absolute;
	left:126px;
}
.plugin-stats {
	position: absolute;
	right:0;
	width:100px;
}