@import 'lib/bootstrap';

/* Customized Variables for Bootstrap */
$gray-base:black;
$gray-transparent:rgba($gray-base,.8);
$brand-primary-darker: rgb(57, 146, 171);
$brand-success: rgb(41, 177, 106);
$brand-info: rgb(76, 194, 228);
$brand-danger: rgb(241, 83, 68);
$font-family-sans-serif: Segoe UI, "Helvetica Neue", Helvetica, Arial, sans-serif;
$border-radius-large: 8px;
$border-radius-small: 4px;
$caret-width-base: 5px;
$dropdown-bg: lighten($gray-base, 20%);
$navbar-inverse-bg: rgba(0, 0, 0, .8);
$label-color: rgb(255, 255, 255);
$label-link-hover-color: rgb(255, 255, 255);
$well-bg: lighten($gray-base, 90%);
$well-border: transparent;
$badge-color: rgb(255, 255, 255);
$badge-link-hover-color: rgb(255, 255, 255);
$badge-bg: $brand-danger;
$badge-active-bg: rgb(255, 255, 255);
$badge-line-height: 1.25;

/* Other brand colors */
$brand-gold: #F1B444;
$brand-gold-darker: #B58733;
$gray-90: lighten($gray-base, 10%);
$gray-50: lighten($gray-base, 50%);
$gray-40: lighten($gray-base, 60%);
$gray-20: lighten($gray-base, 80%);
$gray-10: lighten($gray-base, 90%);
$gray-5: lighten($gray-base, 95%);
$brand-primary: #4CC2E4;

/* Grid size (mirrors Bootstraps) */
$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-lg: (min-width: 1200px);
$scree-md-max: $screen-lg - 1;


/* Mixin that prefixes any CSS rule */
@mixin vendor-prefix($property, $argument) {
  -webkit-#{$property}: #{$argument};
  -ms-#{$property}: #{$argument};
  -moz-#{$property}: #{$argument};
  -o-#{$property}: #{$argument};
  #{$property}: #{$argument};
}

.vertical-center-parent {
	position: relative;
	width:100%;
	height:100%;
	.vertical-center-child {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
}

/*
********* Getting Started ***********
*/

.number_circle {
    display: inline-block;
    width: 50px;
	height:50px;
    padding: 8px;
    font-size: 24px;
    color: #ffffff;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: $brand-primary-darker;
    border-radius: 50%;
	margin-top: 20px;
}

.well_code {
	@extend .well;
	padding-bottom:19px + 50px;
	position:relative;
	background-color: $gray-10;
	margin-top:46px;
	div {
		@extend .well_code;
		position: absolute;
	    top: 100%;
	    transform: translateY(-100%);
	    padding: 0;
		margin:0;
		background-color: $gray-20;
		width: 100%;
		margin-left:-19px;
		button {
			background-color: $brand-primary;
			margin:5px;
		}
	}
}


/*
********* Showcase Section ***********
*/
.dark {
	background-color: $gray-90;
}
.showcase_section_intro {
    margin: auto;
	float:none;
    max-width: 700px;
	h1 { color: $brand-gold; padding-bottom:0; }
	h2 { color: white; font-size: 18px; font-weight:normal; padding:0; margin-top:0 }
	p, span { color: $gray-40; text-align: left; }
    padding-top: 4px;
 	padding-bottom: 35px;
}

.supported_platforms {
	background-color: darken(white, 85%);
    margin-left: -15px;
    margin-right: -15px;
}
.platform_logos {
	list-style-type: none;
	padding-left:0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cordova_tools_gallery {
	color:white;
	.card {
			padding:8px;
			.card_title {
				color: $brand-primary;
				font-weight: bold;
			}
			.card_inner {
				background-color:darken(white, 85%);
				padding: 32px 16px 32px 16px;
			}
			.sample_app_thumb {
				background-color: #AD6E6E;
                width: 100%;
                height: 100px;
			}
			img {
				height:50px;
				padding-bottom:5px;
			}
		}
}
.add_seemore_links {
	margin-top:10px;
	a {	padding-left:30px; }
}

/* footer */
footer {
    background-color: $gray-5;
    position: relative;
	strong { color:inherit; }
	h1 {
		font-size:2.5em;
		color:$brand-primary-darker;
	}
  	h2 {
    text-transform: uppercase;
    color:$gray-50;
    font-size: 1em;
    font-weight: bold;
    }
}
footer ul.nav li > a {
	font-size:1em;
	margin-left: -15px;
}
footer ul.nav li > a:hover {
	background-color: $gray-20;
}
footer .copyright_text {
    margin-top: 25px;
}

/*
 * position anchirs of fragment links slightly above their targets
 */
.fragment-anchor {
    display: block;
    position: relative;
    bottom: 50px;
}

/*
********* Modifications to Bootstrap ***********
*/
button.btn, a.btn {
    border-radius: 0;
	background-color:$brand-primary;
	color:black;
	border:0;
}
button.btn:hover, a.btn {
	color:black;
}
h1 {
	color: $brand-gold-darker;
	font-weight: normal;
}
h2 {
	color: $gray-50;
	font-size: 18px;
}
.badge {
	font-size:12px;
	margin-top:-14px;
	padding: 1px 5px;
}

.contribute-content {
	padding-top: 15px;
}

.blue-divider {
	width:100%;
	height:4px;
	background-color: $brand-primary;
}

@import 'home';
@import 'blog';
@import 'plugins';
@import 'docs';
@import 'contribute';
@import 'contact';
