<div class="blue-divider"></div>
<footer>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-sm-9">
                <h1>More Resources</h1>
                <div class="row">
                    <div class="col-sm-4">
                        <h2>General</h2>
                        <ul class="nav">
                            <li>
                                <a href="https://projects.apache.org/project.html?cordova">Apache Project Page</a>
                            </li>
                            <li>
                                <a href="http://www.apache.org/licenses/LICENSE-2.0">License</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/artwork">Artwork</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h2>Development</h2>
                        <ul class="nav">
                            <li><a href="https://github.com/apache?utf8=%E2%9C%93&amp;query=cordova-">Source Code</a></li>
                            <li><a href="https://issues.apache.org/jira/browse/CB/">Issue Tracker</a></li>
                            <li><a href="http://stackoverflow.com/questions/tagged/cordova">Stack Overflow</a></li>
                            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h2>Apache Software Foundation</h2>
                        <ul class="nav">
                            <li>
                                <a href="http://www.apache.org/">About ASF</a>
                            </li>
                            <li>
                                <a href="http://www.apache.org/foundation/sponsorship.html">Become a Sponsor</a>
                            </li>
                            <li>
                                <a href="http://www.apache.org/foundation/thanks.html">Thanks</a>
                            </li>
                            <li>
                                <a href="http://www.apache.org/security/">Security</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h1>Contribute</h1>
                <p style="padding-top:20px"><strong>Help Cordova move forward!</strong></p>
                <p>Report bugs, improve the docs, or contribute to the code.</p>
                <a href="{{ site.baseurl }}/contribute" class="btn btn-lg btn-primary">
                    Learn More
                </a>
            </div>
        </div>
        <p class="copyright_text">
            Copyright © 2012, 2013, 2015 The Apache Software Foundation, Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.<br/>
            Apache and the Apache feather logos are <a href="http://www.apache.org/foundation/marks/list/">trademarks</a> of The Apache Software Foundation.
        </p>
        <a class="closing" href="#top"></a>
    </div>
</footer>

<!-- JS -->
<script type="text/javascript" src="{{ site.baseurl }}/static/js/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/lib/toc.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/docs.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/main.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/index.js"></script>
