<a class="scroll-point pt-top" name="top">
</a>
<div id="header">
    <div class="wrap">
        <a class="logo" href="{{ site.baseurl }}/#top"></a>
        <div class="menu">
            <a href="{{ site.baseurl }}/#about">About</a>
            <a href="{{ site.baseurl }}/#news">News</a>
            <a href="{{ site.data.index-config.sitemap.docs.url }}">Documentation</a>
            <a href="http://plugins.cordova.io/">Plugins</a>
            <a href="{{ site.baseurl }}/#links">Quick Links</a>
            <a href="{{ site.baseurl }}/#contribute">Contribute</a>
            <a href="{{ site.baseurl }}/#mailing-list">Mailing List</a>
        </div>
        <form class="menu-dropdown">
            <select onchange="location = this.options[this.selectedIndex].value;">
                <option value="{{ site.baseurl }}/#about">About</option>
                <option value="{{ site.baseurl }}/#news">News</option>
                <option value="{{ site.data.index-config.sitemap.docs.url }}">Documentation</option>
                <option value="http://plugins.cordova.io/">Plugins</option>
                <option value="{{ site.baseurl }}/#links">Quick Links</option>
                <option value="{{ site.baseurl }}/#contribute">Contribute</option>
                <option value="{{ site.baseurl }}/#mailing-list">Mailing List</option>
            </select>
        </form>
    </div>
    <div class="shadow"></div>
</div> <!-- /header -->
<div class="header-placeholder"></div>
