<script type="text/javascript" src="{{ site.baseurl }}/static/js/lib/jquery-2.1.1.min.js" defer></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/lib/bootstrap.min.js" defer></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/lib/toc.min.js" defer></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/lib/ZeroClipboard.js" defer></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/main.js" defer></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/index.js" defer></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/twitter.js" defer></script>

<script src="http://slack.cordova.io/slackin.js" defer></script>
