<div class="container">
        <div class="row showcase_section_intro">
            <div class="col-md-12 text-center">
                <h1>Codorva Tools</h1>
                <h2>Work with Cordova even more efficiently</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat sem, cursus quis nibh porta, scelerisque blandit lorem. Vivamus blandit nec odio non bibendum. Morbi efficitur purus ut metus viverra sodales. In aliquet nunc sagittis, dignissim libero ut, vulputate nisi. Phasellus vulputate fermentum libero, lorem hah.</p>
            </div>
        </div>
        <!-- ROW 1 Starts -->
        <div class="row cordova_tools_gallery">
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
        </div>
        
        <!-- ROW 2 Starts -->
        <div class="row cordova_tools_gallery">
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="card_inner">
                    <img src="{{ site.baseurl }}/static/img/cordova_48.png" class="center-block"/>
                    <p class="card_title">LitWare</p>
                    <p>Nullam dictum condimentum sapien, et venenatis lectus tempor vehicula. Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Add yours or see more links -->
            <div class="col-sm-12">
                <div class="pull-right add_seemore_links">
                    <a href="#">Add your tool</a><a href="#">See more...</a>
                </div>
            </div>
        </div>
        
        
    </div><!-- /container -->
    <div class="container">
        <div class="row showcase_section_intro">
            <div class="col-md-12 text-center">
                <h1>Sample Cordova Apps</h1>
                <h2>See examples how to access native device APIs and more</h2>
            </div>
        </div>
        <div class="row cordova_tools_gallery">
            <div class="col-lg-2 col-sm-4 card">
                <div class="sample_app_thumb"></div>
                <div class="card_inner">
                    <p class="card_title">LitWare</p>
                    <p>Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="sample_app_thumb"></div>
                <div class="card_inner">
                    <p class="card_title">LitWare</p>
                    <p>Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="sample_app_thumb"></div>
                <div class="card_inner">
                    <p class="card_title">LitWare</p>
                    <p>Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="sample_app_thumb"></div>
                <div class="card_inner">
                    <p class="card_title">LitWare</p>
                    <p>Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="sample_app_thumb"></div>
                <div class="card_inner">
                    <p class="card_title">LitWare</p>
                    <p>Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 card">
                <div class="sample_app_thumb"></div>
                <div class="card_inner">
                    <p class="card_title">LitWare</p>
                    <p>Aenean ac ligula in purus sollicitudin maximus.</p>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Add yours or see more links -->
            <div class="col-sm-12">
                <div class="pull-right add_seemore_links">
                    <a href="#">Add your app</a><a href="#">See more...</a>
                </div>
            </div>
        </div>
    </div>