<!-- <div class="container">
	<div class="header">
		<div>@apachecordova</div>
		<img src="{{ site.baseurl }}/static/img/follow_twitter_rectangle.png">
	</div>
	<div class="feed">
		<ul>
			<li>
				<img src="{{ site.baseurl }}/static/img/twitter_profile.png">
				<div class="date">June 22</div>
				<div class="name">Apache Cordova</div>
				<div class="handle">@apachecordova</div>
				<div class="content">Lirem ipsuin sit amet, tortor just elit. Aenean eros ut.</div>
				<hr>
			</li>
			<li>
				<img src="{{ site.baseurl }}/static/img/twitter_profile.png">
				<div class="date">June 20</div>
				<div class="name">Apache Cordova</div>
				<div class="handle">@apachecordova</div>
				<div class="content">Sagites louin tortor just elit. Aenean eros ut.</div>
				<hr>
			</li>
			<li>
				<img src="{{ site.baseurl }}/static/img/twitter_profile.png">
				<div class="date">June 12</div>
				<div class="name">Apache Cordova</div>
				<div class="handle">@apachecordova</div>
				<div class="content">Ipsuin sit amet, louin tortor just elit. Aenean eros utLirem ipsuin sit amet, tortor just elit. Aenean eros ut.</div>
				<hr>
			</li>			
		</ul>
	</div>
	<div class="promo">Tweet to @ApacheCordova</div>
</div> -->

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/apachecordova" data-widget-id="629424968011386884">Tweets by @apachecordova</a>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>