---
layout: docs
outdated_text: "Ca n'est past la dernière version de la documentation."
in_development_text: "Cette version de la documentation est en cours de développement!"
click_here_text: "Cliquez ici pour voire la dernière version de la documentation."
toc_text: "Table des Matières"
latest_text: "Dernière"
visit_github_text: "L'autres versions sont sur Github."
plugin_version_text: "Ce document décrit ce plugin à la version"
edit_text: "Modifier"
edit_source_text: "Modifier la Source sur GitHub"
edit_translation_text: "Modifier la Traduction sur Crowdin"
---

{{ content }}
