---
layout: docs
outdated_text: "Эта версия документации устарела!"
in_development_text: "Эта версия документации находится в стадии разработки!"
click_here_text: "Нажмите здесь для последней выпущенной версии."
toc_text: "Содержание"
latest_text: "Последняя"
visit_github_text: "Другие версии на GitHub."
plugin_version_text: "Эта документация описывает этот плагин версии"
edit_text: "Править"
edit_source_text: "Править Исток на GitHub"
edit_translation_text: "Править Перевод на Crowdin"
---

<style type="text/css">
    /* Workaround for the spacing on the Russian /docs/ru/version/index.html pages */
    .docs .home .summary {
        height: 100px;
    }
    .docs #old-home ul li {
        height: 160px;
    }
</style>

{{ content }}
