---
layout: blog
---

<div class="blog">
    <div id="content" class="container">
         <div class="row">
            <div class="blogHeader">
                <h1>Blog</h1>
                <div>
                    <img src="{{ site.baseurl }}/static/img/subscribe.png">
                    <a href="{{ site.baseurl }}{{ site.rss_path }}">RSS Feed</a>
                </div>
            </div>
            <div class="post">
                <header>
                    <div class="title">{{ page.title }}</div>
                    <div class="author">By: {{ page.author.name }}</div>
                    <div class="date">{{ page.date | date_to_string }}</div>
                </header>
                <section>
                    <div>
                        {{ content }}
                    </div>
                </section>
                <footer>
                    <div class="row">
                        <div class="col-sm-6">
                            {% if page.previous %}
                                <a href="{{ site.baseurl }}{{ page.previous.url }}">Previous</a>
                                <br>
                                <br>
                                <a class="title" href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
                                <div class="date"> {{ page.previous.date | date_to_string }} - By {{ page.previous.author.name }} </div>
                                <div class="content"> {{ page.previous.content | strip_html | truncate:130 }} </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            {% if page.next %}
                                <a href="{{ site.baseurl }}{{ page.next.url }}">Next</a>
                                <br>
                                <br>
                                <a class="title" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
                                <div class="date"> {{ page.next.date | date_to_string }} - By {{ page.next.author.name}} </div>
                                <div class="content"> {{ page.next.content | strip_html | truncate:130 }} </div>
                            {% endif %}
                        </div>
                    </div>
                </footer>
                <div class="disqus">
                    {% include disqus.html %}
                </div>
            </div>
        </div>
    </div>
</div>
